# Python virtual environment
venv/
/venv/

# Python cache files
__pycache__/
*.pyc

# Folder for trained models or large datasets
archive/
Tune/

# IDE/Editor specific files
.vscode/
.idea/

# Environment variables file
.env